<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chatsworth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=chatsworthdb.s3db;Version=3"/>
  </connectionStrings>
  <userSettings>
    <Chatsworth.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>gmail.com</value>
      </setting>
      <setting name="ConnectServer" serializeAs="String">
        <value>talk.google.com</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MappingAssembly" serializeAs="String">
        <value>Chatsworth.Core</value>
      </setting>
    </Chatsworth.Properties.Settings>
  </userSettings>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="ICommunicator" type="Chatsworth.Core.ICommunicator, Chatsworth.Core" />
      <typeAlias alias="MessageProcessor" type="Chatsworth.Core.MessageProcessor, Chatsworth.Core" />
      <typeAlias alias="IMessageProcessor" type="Chatsworth.Core.IMessageProcessor, Chatsworth.Core" />
      <typeAlias alias="ChatController" type="Chatsworth.Core.ChatController, Chatsworth.Core" />
      <typeAlias alias="ChatMessageHandler" type="Chatsworth.Core.MessageHandlers.ChatMessageHandler, Chatsworth.Core" />
      <typeAlias alias="CommandMessageHandler" type="Chatsworth.Core.MessageHandlers.CommandMessageHandler, Chatsworth.Core" />
      <typeAlias alias="IMessageHandler" type="Chatsworth.Core.MessageHandlers.IMessageHandler, Chatsworth.Core" />
      <typeAlias alias="IMessageHandlerArray" type="Chatsworth.Core.MessageHandlers.IMessageHandler[], Chatsworth.Core" />
      <typeAlias alias="ICommand" type="Chatsworth.Core.Commands.ICommand, Chatsworth.Core" />
      <typeAlias alias="ICommandArray" type="Chatsworth.Core.Commands.ICommand[], Chatsworth.Core" />
      <typeAlias alias="JoinCommand" type="Chatsworth.Core.Commands.JoinCommand, Chatsworth.Core" />
      <typeAlias alias="AliasCommand" type="Chatsworth.Core.Commands.AliasCommand, Chatsworth.Core" />
      <typeAlias alias="ListCommand" type="Chatsworth.Core.Commands.ListCommand, Chatsworth.Core" />
      <typeAlias alias="LeaveCommand" type="Chatsworth.Core.Commands.LeaveCommand, Chatsworth.Core" />
      <typeAlias alias="WhisperCommand" type="Chatsworth.Core.Commands.WhisperCommand, Chatsworth.Core" />
      <typeAlias alias="IMemberDirectory" type="Chatsworth.Core.IMemberDirectory, Chatsworth.Core" />
      <typeAlias alias="MemberDirectory" type="Chatsworth.Core.MemberDirectory, Chatsworth.Core" />
      <typeAlias alias="XMPPCommunicator" type="Chatsworth.Core.XMPPCommunicator, Chatsworth.Core" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IMemberDirectory" mapTo="MemberDirectory">
            <lifetime type="singleton" />
          </type>
          <type type="ICommunicator" mapTo="XMPPCommunicator">
            <lifetime type="singleton" />
          </type>
          <type type="ICommand" mapTo="JoinCommand" name="joinCommand">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ICommand" mapTo="AliasCommand" name="aliasCommand">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ICommand" mapTo="ListCommand" name="listCommand">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ICommand" mapTo="LeaveCommand" name="leaveCommand">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ICommand" mapTo="WhisperCommand" name="whisperCommand">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="IMessageHandler" mapTo="CommandMessageHandler" name="commandMessageHandler">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="commands" parameterType="ICommandArray">
                  <array>
                    <dependency name="joinCommand" />
                    <dependency name="aliasCommand" />
                    <dependency name="listCommand" />
                    <dependency name="leaveCommand" />
                    <dependency name="whisperCommand"/>
                  </array>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="IMessageHandler" mapTo="ChatMessageHandler" name="chatMessageHandler">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
                <param name="directory" parameterType="IMemberDirectory">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="IMessageProcessor" mapTo="MessageProcessor">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="handlers" parameterType="IMessageHandlerArray">
                  <array>
                    <dependency name="commandMessageHandler"/>
                    <dependency name="chatMessageHandler"/>
                  </array>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ChatController">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="processor" parameterType="IMessageProcessor">
                  <dependency />
                </param>
                <param name="communicator" parameterType="ICommunicator">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>